*{
  font-family: 'Times New Roman', Times, serif;
}

.navbar-style{
  background-color: rgb(238, 241, 171);
}

.logo-img{
  height: 5rem;
  width: 5rem;
}

.logo-text{
  margin: -25px 0px 0px 89px;
  font-size: 1.3rem;
}

main{
  min-height: 82vh;
}
footer{
   background-color: rgb(238, 241, 171);
   padding: 1rem;

}